{% extends '@Imiecar/chris/base.html.twig' %}

{% block body %}
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1> ImieCar </h1>
            <h3>Site de co-voiturage des campus IMIE.</h3>
            <br>
            <a href="{{ path('new') }}" class="btn btn-dark btn-lg">Créer un compte</a>
            <a href="{{ path('login') }}" class="btn btn-dark btn-lg">Connectez-Vous</a>
            <hr>
            <div class="form-group">
                <a href="{{ path('arcana') }}" class="btn btn-primary btn-lg">Trajets</a>
            </div>
        </div>
    </header>
{% endblock %}
