{%  extends'@Imiecar/chris/base.html.twig' %}

{% block body %}
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1> Welcome to ImieCar!</h1>
        <h3>Site de co-voiturage des campus IMIE.</h3>
        <hr>
    </div>
</header>
{% endblock %}
