{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    <button type="button" class="btn-dark btn btn-md"  onClick="location.href='/'">{{ 'Connection' }}</button>
{% endblock fos_user_content %}
