#trajet, #trajetChoix {
    padding-left: 150px;
    width: 500px;
}

#contact {
    padding-left: 150px;
    width: 1600px;
}

body, html {
    color: black;
    background-image: url('/arcana/images/route.jpg');
    height: 100%;
    background-attachment: fixed;
}

#page {
    height: 77%;
    margin: 0px;
    padding: 0px;
}

#message {
    width: 700px;
}

#table {
    width: 1600px;
}

#footer {
    padding-top: 18px;
    padding-bottom: 0px;
    margin-top: 0px;
    background-color: #000000;
    opacity: 0.85;
    height: 104px;
}

form {
    background-color: whitesmoke;
}

#header {
    height: 10%;
}

}
footer {
    height: 77%;
}
