#trajet,#trajetChoix{

 padding-left: 150px;
width: 500px;
}

#contact{
    padding-left: 150px;
    width: 1600px;
}

body{
    /*background-color: #333;*/
    background-color: lightgray;
    /*background-color: darkolivegreen;*/
    color: black;

}

#message{
    width:700px;
}

#table{
    width: 1600px;
}
#footer{
    background-color: lightblue;
}

/*form{*/
    /*background-color: #333;*/
/*}*/

