

#trajet{
    background-color: rgba(20,20,20,0.60);
    /*width: 500px;*/
    padding: 0 0 15px 0;
    /*width: auto;*/
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: inset;
    border-color: #ade220;
    border-width: 2px;
}

#entete{
    /*background-color: rgba(40, 117, 40, 1);*/
    color: #ade220;
    padding-top: 2px;
    border-bottom-style: inset;
    margin-top: 10px;
    text-align: center;
    height: 75px;
}

#contact {
    padding-left: 150px;
    width: 1600px;
}

body, html {
    color: white;
    background-image: url('/arcana/images/route.jpg');
    background-attachment: fixed;
}

#page {
    /*background-color: rgba(0,0,0,0.40);*/
    /*border-radius: 10px;*/
    /*height: 100%;*/
    padding: 80px;
}

#message {
    width: 700px;
}

#table {
    width: 1600px;
}

#footer {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-top: 0px;
    background-color: #000000;
    opacity: 0.85;
    height: 104px;
}

form {
    /*background-color: rgba(200, 200, 200, 0.8);*/
    color: whitesmoke;
    padding: 0 0 0 0 ;
}

#header {
    height: 65px;
}

footer {
    height: 77%;
}

form {
    padding: 0px;
}

.container {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 80px;
}

div {
      padding-top: 0px;
      margin:0px;
}

.fondtrajet{
    background-color: rgba(64, 64, 64, 0.5);
    margin-left: 1px;
    margin-right: 1px;
    border-top: inset;
    border-top-width: 2px;
    border-color: #ade220;
    border-bottom-width: 3px;
    border-bottom: inset;
    border-bottom-color: #ade220;
    border-right-width: 1px;
    border-right: inset;
    border-right-color: #ade220;
    border-left-width: 1px;
    border-left: inset;
    border-left-color: #ade220;

}

.fondtrajet2{
    background-color: rgba(25,150,25,0.5);
    margin-left: 1px;
    margin-right: 1px;
    border-bottom: inset;
    border-bottom-width: 2px;
    border-color: #002c10;
    border-right-width: 1px;
    border-right: inset;
    border-right-color: #ade220;
    border-left-width: 1px;
    border-left: inset;
    border-left-color: #ade220;
    border-top-width: 1px;
    border-top: inset;
    border-top-color: #ade220;


}

.troufoncé {
    padding: 1px 0 1px 0 ;
    background-color: #335623;

}

.trou2 {
    padding: 1px 0 1px 0 ;
    margin-bottom: 5px;
    background-color: #ade220;
}

.troutop {
    padding: 0;
    margin: 20px 0 0 0;
    background-color: #ade220;
}

.troubottom {
    padding: 0;
    margin: 0 0 20px 0;
    background-color: #ade220;
}


.btn-validez {
    color: #555555;
    background-color: #ADE220;
    border-color: #6A8719;
    padding: 0;
    margin: 0;
}

.btn-validez:hover,
.btn-validez:focus,
.btn-validez:active,
.btn-validez.active,
.open .dropdown-toggle.btn-validez {
    color: #555555;
    background-color: #79BD2C;
    border-color: #6A8719;
}

.btn-validez:active,
.btn-validez.active,
.open .dropdown-toggle.btn-validez {
    background-image: none;
}

.btn-validez.disabled,
.btn-validez[disabled],
fieldset[disabled] .btn-validez,
.btn-validez.disabled:hover,
.btn-validez[disabled]:hover,
fieldset[disabled] .btn-validez:hover,
.btn-validez.disabled:focus,
.btn-validez[disabled]:focus,
fieldset[disabled] .btn-validez:focus,
.btn-validez.disabled:active,
.btn-validez[disabled]:active,
fieldset[disabled] .btn-validez:active,
.btn-validez.disabled.active,
.btn-validez[disabled].active,
fieldset[disabled] .btn-validez.active {
    background-color: #ADE220;
    border-color: #6A8719;
}

.btn-validez .badge {
    color: #ADE220;
    background-color: #555555;
}


#slogan{
    text-align: center;
    color: whitesmoke;
    font-size: 100px;
    padding-top: 10%;
}
span{
    font-size:20px;
    color:#ade220;
}

.row {
    margin: -0px 0 -1px -0px;
    padding-left: 25px;
    padding-right: 0px;
}
