<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<p>Bonjour,</p>

<p>Je vous confirme le trajet qui part de .....
{#{{ trajet.villeDepart }}#}
</p>


{#<a href="{{ url('trajet_show') }}">lien de confirmation</a>#}

{#<img src="{{ asset('img/logo.png')) }}">#}
</body>
</html>