{% extends 'base2.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
<div class="container">
    <div class="row">

        <div style="color: #fff; text-align: center " id="trajet" class="col-sm-12">
            <h1>Message envoyé avec succès !</h1>
        </div>

        <div style="text-align: center">
            <input style="margin-top: 20px" type="button" value="Retouner à l'accueil du site"
                   onclick="location.href= '{{ path('home') }}' "/>
        </div>
    </div>
{% endblock %}